<% provide(:title, "プロフィール編集") %>
<% provide(:button_text, "変更する") %>
<div class="text-center">
  <h2>プロフィール編集</h2>
</div>

<div class="row">
  <div class="col-md-6 offset-md-3 col-12">
    <%= render 'formedit' %>
    <%= link_to "マイページに戻る", @user, class: "text-decoration-none" %>
  </div>
</div>