<% provide(:title, "バリスタ") %>
<div class="text-center">
  <h2>バリスタ</h2>
</div>

<div class="list-unstyled list-group mb-2">
  <%= render partial: "users", collection: @users, as: :user %>
</div>
<%= paginate @users %>