<% provide(:title, "ユーザー登録") %>
<% provide(:button_text, "登録") %>
<div class="text-center">
  <h2>ユーザー登録</h2>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3 col-12">
    <%= render 'formnew' %>
  </div>
</div>