<% if logged_in? %>
	<div class="row">
		<%= render "messages/messages", messages: @messages %>
	</div>
<% else %>
	<div class="center jumbotron">
		<div class="text-center">
			<h1>BaristaSNSへようこそ！</h1>
			<%= link_to "ユーザ登録", signup_path, class: "btn btn-lg btn-primary" %>
		</div>
	</div>
	<div class="row">
		<%= render "messages/messages2", messages: @messages %>
	</div>
<% end %>