<% if logged_in? %>
	<div class="row">
		<%= render "messages/messages", messages: @messages %>
	</div>
<% else %>
	<div class="jumbotron">
		<div class="container">
			<p class="h3 text-light">BaristaSNSへようこそ</p>
			<p class="text-light">カフェのバリスタとつながれるSNS</p>
			<%= link_to "ユーザー登録", signup_path, class: "btn btn-primary" %>
		</div>
	</div>
	<div class="row">
		<%= render "messages/messages", messages: @messages %>
	</div>
<% end %>