<% flash.each do |message_type, message| %>
  <div class="col-sm-10 offset-sm-1 alert alert-<%= message_type %>"><%= message %>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
<% end %>