<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/">BaristaSNS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <li class="nav-item"><a href="#" class="nav-link">バリスタ一覧</a></li>
      <li class="nav-item"><a href="#" class="nav-link">ユーザ登録</a></li>
      <li class="nav-item"><a href="#" class="nav-link">ログイン</a></li>
    </div>
  </nav>
</header>